# OpenAI API Key
OPENAI_API_KEY=add_your_key

# Google Gemini API Key
GOOGLE_API_KEY=add_your_key
OPENAI_MODEL=text-embedding-3-small
OPENAI_CHAT_MODEL=gpt-4o-mini
GEMINI_CHAT_MODEL=gemini-2.0-flash
LLM_PROVIDER=openai
PGVECTOR_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PGVECTOR_COLLECTION=gpt5_collection

#GERAL
PDF_PATH=./document.pdf